/* font-family: 'Space Grotesk', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}
.container {
  display: flex;
  width: 100%;
  max-width: 1440px;
  height: 789px;
}
.form-section {
  flex: 60%;
  height: 100%;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-section {
  background-image: url("/images/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
  flex: 40%;
  height: 100%;
}

.form-body {
  width: 400px;
  height: 400px;
  padding: 10px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.largeForm {
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 7px;
  border: 1px solid hsl(270, 3%, 87%);
  margin-bottom: 25px;
}
.largeForm:focus {
  border: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
}
/* .dateDetails {
  display: flex;
} */
.date {
  width: 50%;
  padding: 14px 12px;
  border-radius: 7px;
  border: 1px solid hsl(270, 3%, 87%);
}
.secondSet {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.dateinput {
  display: flex;
  margin: 8px 0;
  border-radius: 7px;
}
.dateinput:focus {
  border: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
}
.date2 {
  margin-left: 8px;
}
.dateDetails {
  width: 40%;
}
.ccvDetals {
  width: 60%;
  padding-left: 8px;
}
.ccvinput {
  width: 100%;
  padding: 14px 12px;
  margin: 8px 0;
  border-radius: 7px;
  border: 1px solid hsl(270, 3%, 87%);
}
.ccvinput:focus {
  border: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
}

/*BTN*/
.btn {
  padding: 14px 12px;
  width: 100%;
  background-color: hsl(278, 68%, 11%);
  border: none;
  color: #fff;
  border-radius: 7px;
}
/* CARDS */
.card {
  width: 400px;
  height: 220px;
  background-size: contain;
  background-repeat: no-repeat;
}
.card-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.card-body {
}
.inside-card {
  margin: 20px;
  /* border: 1px solid white; */
}
.card1 {
  position: absolute;
  top: 15%;
  left: 25%;
  background-image: url(/images/bg-card-front.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.card2 {
  position: absolute;
  background-image: url(/images/bg-card-back.png);
  left: 40%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.logo-box {
  margin-bottom: 40px;
}
.card-number {
  font-size: 28px;
  font-family: "Space Grotesk", sans-serif;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  /* border: 1px solid white; */
  margin-bottom: 30px;
}
.cardNameDate {
  /* border: 1px solid white; */
  padding: 0 2px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-family: "Space Grotesk", sans-serif;
  color: #fff;
  letter-spacing: 2px;
}
.cardName {
  text-transform: uppercase;
}
.ccv {
  margin-right: 50px;
  letter-spacing: 2px;
  color: #fff;
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
}
