/* font-family: 'Space Grotesk', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}
.container {
  display: flex;
  width: 100%;
  max-width: 1440px;
  height: 789px;
}
.form-section {
  flex: 60%;
  height: 100%;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-section {
  background-image: url("/images/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
  flex: 40%;
  height: 100%;
}

.form-body {
  width: 400px;
  height: 400px;
  padding: 10px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.largeForm {
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 7px;
  border: 1px solid hsl(270, 3%, 87%);
  margin-bottom: 25px;
}

/* .dateDetails {
  display: flex;
} */
.date {
  width: 80%;
  padding: 14px 12px;
  border-radius: 7px;
  border: 1px solid hsl(270, 3%, 87%);
}

.secondSet {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.dateinput {
  display: grid;
  grid-template-column: 1fr 1fr 1fr 1fr;
  grid-template-row: 1fr 1fr 1fr;
  row-gap: 5px;
  margin: 8px 0;
  border-radius: 7px;
}

.input-control input:focus {
  outline: none;
}
.input-control.success input {
  border: 1px solid hsl(278, 68%, 11%);
}
.input-control.error input {
  border: 1px solid hsl(0, 100%, 66%);
}
.input-control.error {
  color: hsl(0, 100%, 66%);
  font-size: 14px;
}
.date1 {
  grid-row: 2/3;
}
.date2 {
  grid-row: 2/3;
}
#commanderror {
  margin-top: 2px;
  grid-column: 4/-1;
}
#datelabel {
  grid-column: 1 / 3;
  margin-bottom: 10px;
}
.dateDetails {
  width: 40%;
}

.ccvDetals {
  width: 60%;
  padding-left: 8px;
}
.ccvinput {
  width: 100%;
  padding: 14px 12px;
  margin: 8px 0;
  border-radius: 7px;
  border: 1px solid hsl(270, 3%, 87%);
}
.errorMessage1 {
  margin-top: -20px;
  margin-bottom: 10px;
}
.errorMessage2 {
  margin-top: -20px;
  margin-bottom: 10px;
  font-size: 14px;
}

/* .errorMessage3 {
  margin-top: 0px;
} */

/*BTN*/
.btn {
  padding: 14px 12px;
  width: 100%;
  background-color: hsl(278, 68%, 11%);
  border: none;
  color: #fff;
  border-radius: 7px;
}
/* CARDS */
.card {
  width: 400px;
  height: 220px;
  background-size: contain;
  background-repeat: no-repeat;
}
.card-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.card-body {
}
.inside-card {
  margin: 20px;
  /* border: 1px solid white; */
}
.card1 {
  position: absolute;
  top: 15%;
  left: 25%;
  background-image: url(/images/bg-card-front.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.card2 {
  position: absolute;
  background-image: url(/images/bg-card-back.png);
  left: 40%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.logo-box {
  margin-bottom: 40px;
}
.card-number {
  font-size: 28px;
  font-family: "Space Grotesk", sans-serif;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  /* border: 1px solid white; */
  margin-bottom: 30px;
}
.cardNameDate {
  /* border: 1px solid white; */
  padding: 0 2px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-family: "Space Grotesk", sans-serif;
  color: #fff;
  letter-spacing: 2px;
}
.cardName {
  text-transform: uppercase;
}
.ccv {
  margin-right: 50px;
  letter-spacing: 2px;
  color: #fff;
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
}

/* thank you box */
.thankBox {
  /* border: 1px solid red; */
  width: 400px;
  font-family: "Space Grotesk", sans-serif;
}
.hide {
  display: none;
}
.imagebox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.textBox {
  text-align: center;
  margin-bottom: 30px;
}
.boldtext {
  margin-bottom: 10px;
}
